/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    width: 100%;
    overflow: auto;
    max-width: 100%;
    overflow-x: hidden;
}

p {
    font-size: 16px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content > *{
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.header {
    background: url("../images/Header2.jpeg") center bottom;
    background-attachment: fixed;
    Height: 100vh;
    Width: 100%;
    background-size: cover;
    background-position: bottom center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: auto;
    margin-bottom: 20px;
    transform: translateZ(-1px);
    padding-left: 0;
    padding-right: 0;
    /*Width: 1000px;*/
}

.Main-Header {
    color: White;
    text-align-all: center;
    
}

.title-image {
    border-radius: 100%;
}

hr {
    clear: both;
    display: block;
    width: 96%;
    height: 2px;
    border: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 255), rgba(0, 0, 0, 0));
}

.content-pane {
    background-image: -webkit-linear-gradient(150deg, rgb(1, 58, 107) 50%, rgb(255, 255, 255) 35%);
    display: flex;
    padding: 10px;
}

.content-pane-content {
    width: 30%;
    height: 50%;
    z-index: 0;
}

/*.content-background {
    height: 100%;
    width: 60%;
    transform: skew(-30deg);
    background-color: white;
    position: absolute;
    left: -100px;
}*/

.content-background-right > h2 {

}