@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "Shared/_Layout2.cshtml";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><strong>The time on the server is @DateTime.Now</strong></p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="carousel">

</div>