@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "Shared/_Layout.cshtml";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><strong>The time on the server is @DateTime.Now</strong></p>
</div>

<div class="flex-container">
    <div class="flex-item">
        <h2>Here is one column of content!</h2>
        <ol>
            <li>I enjoy doing this</li>
            <li>And I'm always learning</li>
            <li>So why not give me a job?</li>
        </ol>
    </div>
    <div class="flex-item">
        <h2>Here is another column.</h2>
        <ul>
            <li>This is an unordered list</li>
            <li>I wish there was a short version of lorem</li>
            <li>Forget it: Lorem</li>
        </ul>
    </div>
</div>